<template>
	<view>
		<tui-skeleton v-if="skeletonShow" backgroundColor="#f9f9f9" skeletonBgColor="#efefef" borderRadius="0rpx"></tui-skeleton>
		<view class="pages tui-skeleton">
			<!-- <view class="uni-padding-wrap"> -->
			<view class="page-section swiperBox tui-skeleton-rect ">
				<video :src="goods.goods_video" class="video"></video>	
			</view>
			<!-- <view class="btns">下载APP流畅到飞起</view> -->
			 <view>
				 <text class="title" :class="{active:current==0}" @click="change(0)" >简介</text>
				  <text class="title" :class="{active:current==1}" @click="change(1)">评论</text>
				  <view>
				</view> 
				
				<view class="text" >
					{{ current==0? goods.goods_short_title :'评评论评论评论评论论'}}
				 </view>
			 </view>
		
		 <view class="uni-margin-wrap">
		 			<swiper class="swiper" circular :indicator-dots="true" :autoplay="true"  
		 				:duration="300">
		 				<swiper-item>
		 					<view class="swiper-item  ">
								<image class="imgs" src="/static/img/video/h1.gif" mode="aspectFill"></image>
							</view>
		 				</swiper-item>
		 				<swiper-item>
		 					<view class="swiper-item  ">
		 						<image class="imgs" src="/static/img/video/h2.jpg" mode="aspectFill"></image>
		 					</view>
		 				</swiper-item>
		 				<swiper-item>
		 					<view class="swiper-item  ">
		 						<image class="imgs" src="/static/img/video/h3.jpg" mode="aspectFill"></image>
		 					</view>
		 				</swiper-item>
		 			</swiper>
		 		</view>
	  </view>
	 </view>
</template>

<script>
	import tuiSkeleton from '@/components/tui-skeleton/tui-skeleton';
	import ProShare from '@/components/ProShare/ProShare';
	import tuiNumberbox from '@/components/numberbox/numberbox';
	import CountCalc from '@/components/tui-countdown/tui-countdown.vue'
	const global_Set_jll = uni.getStorageSync('global_Set_jll');
 
	import {
		mapState,
		mapMutations
	} from 'vuex';
	import Utils from '@/utils/utils.js';
	import SET from '@/SET.js'
	// import bestPaymentPassword from '@/components/best-payment-password/best-payment-password.vue';
	export default {
		data() {
			return {
		 
				current:0,
				business: { shipments_address: '' },  //商家信息
				goods: {},  //商品信息
				banners: [], 
				// auction: '',
				skeletonShow: true,
				form: {
					goods_code: ''
				},
				phoneNum: global_Set_jll.service_mobile,
				 
				modal: false,
				// payFlag: false,
				time: null,
				content: '请您先登录',
				action: 'login',
				
				details_img: '',
				// paymentPwd: '', //支付密码
				skuList: [],
				specifications: [],
				propertyList:[],
				showModalStatus: false,
			
				// endTime: '',
				platform: 'android',
				// activityInfo: '', //限时购信息
				// area: '',
				couponList:[],  //可以使用的优惠券列表   0是通用券 1是商品券
				skuAction:'buy',
				hasGetCoupon:{} //存放已领取的商品券
			};
		},
		watch: {
			hasLogin(newValue, oldValue) {
				if(newValue){
					this.myCards()
				}
				
			}
		},
		components: {
			tuiSkeleton, 
		},
		onLoad(options) {
			this.form.goods_code = options.code;

			this._loadData('refresh');
			// let that = this
			// uni.getSystemInfo({
			// 	success(res) {
			// 		that.platform = res.platform
			// 	}
			// })
			// if(this.hasLogin){
			// 	this.myCards()
			// }		
		},
		onUnload() {
			// alert(2)
			// clearInterval(this.time);
			// this.time = null;
		},
		computed: {
			...mapState(['hasLogin', 'ifx']),
			// hasLogin() {
			// 	return this.$store.state.hasLogin ? this.$store.state.hasLogin : false;
			// },
			accountInfo() {
				return this.$store.state.accountInfo;
			},
			restTimeValied() {
				let t = this.endTime
				// console.log(t)
				if (!t) {
					return false
				}
				let s = new Date(t).getTime()

				let n = new Date().getTime();
				// console.log(s)
				let date = s - n;

				let days = date / 1000 / 60 / 60 / 24;
				let daysRound = Math.floor(days);
				let hours = date / 1000 / 60 / 60 - (24 * daysRound);
				let hoursRound = Math.floor(hours);
				let minutes = date / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound);
				let minutesRound = Math.floor(minutes);
				let seconds = date / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
				let secondsRound = Math.floor(seconds);
				let time = "倒计时" + (daysRound + "天" + hoursRound + "时" + minutesRound + "分" + secondsRound + "秒");

				let obj = {
					d: parseInt(daysRound),
					h: parseInt(hoursRound),
					m: parseInt(minutesRound),
					s: parseInt(secondsRound)
				}
				// console.log(obj);
				return obj
			},
			// 最优商品券的判断
			mostCoupon(){
				let spList = {}
				// console.log(555,this.couponList)
				let  hasSP = this.couponList.some(item=>{
					if(item.use_area==1){
						spList[item.order_amount] = item
					}
					return item.use_area==1?true:false
				})
				
				if(hasSP){
					// 有商品券
					if(this.goods.goods_price.indexOf('-')>=0){
						return ''
					}else{
						
						let arr= {}
						this.couponList.map(it=>{
							if(it.use_area==1 && parseInt(this.goods.goods_price)>=it.order_amount){
								arr[it.price] = it
							}						
						}) 
						// console.log(77,arr)
						if(Object.keys(arr).length){
							let k = Math.max(...Object.keys(arr))
							return  parseInt(this.goods.goods_price)  - arr[k].price
						}else{
							return ''
						}	
						// return  parseInt(this.goods.goods_price)  - arr[k].price
					}
						
				}else{
					return '' //没有优惠价
				}
			}
		},
		methods: {
			change(k){
				this.current = k
			},
			_share(){
				this.$refs.proShare.createHB()
			},
			// 领取商品券
			async validCoupon(code){
		
				if (!this.hasLogin) {
					this.content = '请您先登录';
					this.action = 'login'; ///features/authentication/authentication'
					this.modal = true;
					return;
				} 
				if(this.hasGetCoupon[code])return;
				
				let that = this
				let  form = {
					coupon_code:code
				}
				let res =  await this.$api.ReceiveCoupon(form)
				// console.log(res)  
				if(res.result==1){
					that.form.coupon_code = code				
					let options = {
							msg: '恭喜领券成功',
							duration: 2000,
							backgroundColor:'#ea441e'
					};
					that.$refs.toast.showTips(options);
					that.myCards()	
				}else{
					
				}
			},
			// 获取我的卡包
			async myCards(){
				let form = {
					"goods_code": this.form.goods_code,
					"use_area": "",
					"status": "0"
				}
				this.hasGetCoupon = {}
				const res = await this.$api.GetReceiveCouponlist(form)
				// console.log(res)
				if(res.data.length){
					this.hasGetCoupon={}
					// let arr = this.couponList.map(it=>{
					// 	return it.coupon_code
					// })
					res.data.map(item=>{
						this.hasGetCoupon[item.coupon_code] = item
						// if( arr.indexOf(item.coupon_code)>=0){
						// 	this.hasGetCoupon[item.coupon_code] = item
						// }
						
					})
				}
			},
			cart() {
				uni.switchTab({
					url: '/pages/cart/cart'
				})
			},
			home() {
				uni.switchTab({
					url: '/pages/main/main'
				});
			},
			_phone() {
				// 客服热线
				uni.showModal({
					title: '提示',
					content: '是否确定拨打商家电话',
					success: function(res) {
						if (res.confirm) {
							uni.makePhoneCall({
								phoneNumber: global_Set_jll.service_mobile //仅为示例
							});
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			_backTop() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 100
				});
			},
			_none() {},
			_toggleModal() {
				this.showModalStatus = !this.showModalStatus;
			},
			addCard(data) {
				this._addCard(data);
			},
			creatOrder(data) {
				this._buy(data);
			},
			// 显示参数框
			_next(act) {
				
				if (!this.hasLogin) {
					this.content = '请您先登录';
					this.action = 'login'; ///features/authentication/authentication'
					this.modal = true;
					return;
				} 
				// else {
					
				// 	const JLL_openId = uni.getStorageSync(SET.opIdName);
				// 	if (this.is_weixn() && !JLL_openId) {
				// 		Utils.wx_auth();
				// 		return;
				// 	}

				// }
				// alert(act)
				this.skuAction = act
				this.showModalStatus = false
				this.$refs.params.show();
			},
			is_weixn() {
				var ua = navigator.userAgent.toLowerCase();
				if (ua.match(/MicroMessenger/i) == 'micromessenger') {
					return true;
				} else {
					return false;
				}
			},
			// 关闭
			hideModal() {
				this.showModalStatus = false;
			},
			// 加载
			async _loadData(type, callback) {
				let that = this;
				try {
					let res = await this.$api.GetGoodsInfo(this.form);
					// console.log(res.data.goods_service_list)
					if (res.result == 1) {
						that.business = res.data.shopInfo;
						that.goods = res.data.goods;
						// that.auction = res.data.auction;
						that.banners = res.data.goods.goods_banner_img 
						// that.banners = JSON.parse(banners);
						that.details_img  = res.data.goods.goods_img 
						// that.details_img = JSON.parse(details);
						that.couponList = res.data.couponList

						that.skuList = res.data.skuList;
						that.specifications = res.data.goods_parameter;
						that.propertyList = res.data.goods_service_list;

						let form = {
							"shop_id": res.data.shopInfo.shop_id, //店铺id
							"goods_code": res.data.goods.goods_code, //商品编码
							"goods_num": res.data.goods.goods_code, //商品数量
							"skus_code": "" //sku_id
						}
						// 加载优惠券
						that.getOrderCoupon(form)
						// console.log(111,)
						if (that.skeletonShow) {
							that.skeletonShow = false;
						}

					} else {
						that.$ui.toast(res.msg);
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/main/main'
							});
						}, 1000)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
					setTimeout(() => {
						uni.reLaunch({
							url: '/pages/main/main'
						});
					}, 1000)
				}
				if (callback) callback();
			},
			// 获取能使用的优惠券
			async getOrderCoupon(form) {

			},
			// 购买
			_buy(data) {
				// console.log(222, data);
				if (!this.hasLogin) {
					this.content = '请您先登录';
					this.action = 'login'; ///features/authentication/authentication'
					this.modal = true;
					return;
				} else {
					
					let cardData = {
						shop_name: this.business.shop_name,
						shop_id: this.business.shop_id,
						shop_logo: this.business.shop_logo,
						goods_code: this.form.goods_code,
						goods_title: this.goods.goods_title,
						goods_main_img: this.goods.goods_main_img,
						is_ems: this.goods.is_ems,
						goods_parameter_type: 1,
						goods_spec: data,
						skus_code: data.skus_code,
						origin_price: data.skus_price * data.selectNum,
						goods_num: data.selectNum,
						// goods_service_price: 0,
						// goods_service_txt: " ",
						goods_service: " ",
					};
					if(data.goods_service.length){
						let tarr = []
						let name = []
						let carr=[]
						data.goods_service.forEach(item=>{
							name.push(item.service_name)
							tarr.push(item.service_price)
							carr.push(item.service_code)
						})
						cardData.goods_service = carr.join(',')
					}
					
					
					this.$store.commit('creatOrder', [cardData]);
					uni.navigateTo({
						url: '/pages/features/createOrder/createOrder?type=0'
					});
					// }
				}
			},

			// 加入购物车
			async _addCard(data) {
				let that = this;
				let agr = {
					goods_code: this.form.goods_code,
					sku_id: data.skus_code ? data.skus_code : '',
					goods_num: data.selectNum,
					goods_service:data.goods_service
				};
				try {
					let res = await this.$api.cardAdd(agr);
					if (res.result == 1) {
						uni.$emit('refresh_cart');
						that.$ui.toast('已成功添加至购物车');
					} else {
						that.$ui.toast(res.msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},

			// 取消支付
			cancelPass() {
				this.payFlag = false;
			},
			// 确认密码
			// checkPwd(e) {
			// 	if (!e) {
			// 		that.$ui.toast('取消购买');
			// 		return;
			// 	}
			// 	// alert(e)
			// 	// this._addPrize(e);
			// 	// this.payFlag = false;
			// },
			handleClick(e) {
				let index = e.index;
				if (index === 0) {
					// this.tui.toast("你点击了取消按钮")
				} else {
					switch (this.action) {
						case 'login':
							// uni.navigateTo({
							// 	url: '/pages/role/pLogin/pLogin'
							// });
							this._login()
							break;
						case 'authentication':
							uni.navigateTo({
								url: '/pages/features/authentication/authentication'
							});
							break;
						case 'payPass':
							uni.navigateTo({
								url: '/pages/user/setPayPass/setPayPass'
							});
							break;
						default:
							break;
					}
				}
				this.modal = false;
			}
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 180rpx;
		overflow: hidden;
		width: 100%;
		min-height: 100vh;
		background:#000 ;
		padding: 20rpx;
		.video{
			width: 100%;
			height: 440rpx;
			background: #000; 
		}
		.btns{
			width: 100%;
			height: 60rpx;
			line-height: 60rpx;
			border-radius: 30rpx;
			background: #468dfe;
			text-align: center;
			color: #fff;
			margin-bottom: 30rpx;
		}
		.title{
			color: #fff;
			line-height: 2;
			margin-right: 20px;
		
		}
		.active{
			border-bottom: 3px  solid red;
		}
		.text{
			color: #fff;
			line-height: 1.4;
				margin-top: 14px;
				
		}
		.uni-margin-wrap{
			// padding: 20px;
			margin-top: 30px;
			width: 100%;
			height: 240rpx;
			border-radius: 8rpx;
			.swiper-item{
				width: 710rpx;
				height: 100%;
				border-radius: 8rpx;
				overflow: hidden;
				.imgs{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	/*底部抽屉样式 start*/
</style>
