<template>
	<view class="page">
		<view class="header flex flex_center" @tap="toSearchPage">
			<cu-custom :isBack="false">
				<block slot="content">
					<view style="background-color:#262626;" class="searchBar f1 flex flex_center">
						<div style="text-align: center; " class="f1 cm_des">懒得找 搜一下</div>
					</view>
				</block>
			</cu-custom>
		</view>

		<view style="background: #000000;" class="page-body">
			<scroll-view class="scroll-view_H" scroll-x="true" :scroll-top="scrollLeftTop" scroll-with-animation>
				<view class="scroll-view-item_H" @click="categoryClickMain(index)" :key="index"
					:class="index == categoryActive ? 'active' : ''" v-for="(item, index) in classifyData">
					<text style="font-size: 16px;" class="current">{{ item.label }}</text>
				</view>
			</scroll-view>

		</view>
		<view class="hot" style="padding: 20rpx;">
			<view class="hotItemBar  "> 
					<view class="item-box flex flex_center" v-if="currentitem.is_child==1">
						<view :id="i == 0 ? 'first' : ''" class="nav-right-item" v-for="(it, i) in currentitem.children" :key="i"  >
							<image
								:src="it.img"
								mode="aspectFit"
							/>
							<view class="nav-right-item-text">{{ it.label }}</view>
						</view>
					</view>
					<view class="item-box flex flex_center" v-else> 
					
					  
						<navigator   v-for="(it,ubdex)  in currentitem.children" :key="ubdex" :url="'/pages/main/details/details?code=' +  it.goods_code">
							<view class="aui-list-theme-item">
								<view class="aui-list-img-az">
									<image style="height: 130px; width: 100px;"
										:src="it.goods_main_img"></image>
									<view class="aui-list-img-left">{{ it.goods_price }}</view>
									<view class="aui-list-img-right">{{it.goods_attention}}</view>
									<image class="aui-list-img-vip" src="../../static/img/video/vip-dot.png"></image>
								</view>
								<view class="aui-list-title">{{it.goods_title}}</view>
							</view>
						</navigator>
						
						<view class="none" v-if="!currentitem.children ||currentitem.children.length<=0">--暂无数据--</view>
					</view> 
			</view>
		</view>




	</view>

</template>

<script>
	// import classifyData from '../../common/classify.data.js';
	export default {
		data() {
			return {
				name: 'wkiwi',
				height: 0,
				categoryActive: 0,
				scrollTop: 0,
				scrollLeftTop: 0,
				// scrollHeight: 0,
				classifyData: [],
				currentitem:{},
				arr: [0, 584, 1168, 1752, 2336, 2805, 3274, 3858, 4442, 4911, 5380, 5734, 6203, 6672,
				7017], //初始值，后边计算会根据手机适配覆盖
				leftItemHeight: 51, //49行会计算出新值进行覆盖
				navLeftHeight: 0, //左边scroll-view 内层nav的总高度
				diff: 0, //左边scroll-view 内层nav的总高度与视口之差
				tabBarHeight: 0 //如果此页面为Tab页面，自己改变高度值,,一般tab高度为51
			};
		},
		created() {
			//如果你的分类数据为后台异步获取请	将下方代码放置你的数据回调中

			this._loadHome();
		},
		onLoad: function() {
			this.height = uni.getSystemInfoSync().windowHeight - this.tabBarHeight - 44;
		},
		onReady() {
			// this.getHeightList();
		},
		methods: {
			toSearchPage() {
				uni.navigateTo({
					url: '/pages/main/search/search'
				})
			},

			async _loadHome(type) {
				let that = this;
				try {
					let res = await this.$api.crm_getHome({type})
					if (res.result == 1) {
						// this.banners = res.data.lst_baner
						// this.iconList = res.data.tree_class
						// uni.setStorageSync('rj_banerList',res.data.lst_baner)
						// uni.setStorageSync('rj_iconList',res.data.tree_class)
						this.classifyData = res.data.tree_class;
						this.currentitem =  res.data.tree_class[0]
						// this.$nextTick(() => {
						// 	this.getHeightList();
						// });
					} else {
						this.$refs.uToast.show({
							title: res.msg,
							type: 'error',
							position: 'center',
						})
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
					that.pageLoading = false
				}
			},
			 scroll(e) {
				let _this = this;
				if (this.timeoutId) {
					clearTimeout(this.timeoutId);
				}
				this.timeoutId = setTimeout(function() {
					//节流
					_this.scrollHeight = e.detail.scrollTop + 1;
					//+1不要删除，解决最后一项某种情况下翻到底部，左边按钮并不会切换至最后一个
					//若想使切换参考线为屏幕顶部请删除 _this.height/2
					for (let i = 0; i < _this.arr.length; i++) {
						let height1 = _this.arr[i];
						let height2 = _this.arr[i + 1];
						if (!height2 || (_this.scrollHeight >= height1 && _this.scrollHeight < height2)) {
							_this.categoryActive = i;
							_this.diff > 0 && (_this.scrollLeftTop = Math.round((_this.categoryActive * _this
								.diff) / (_this.classifyData.length - 1)));
							return false;
						}
					}
					_this.categoryActive = 0;
					_this.timeoutId = undefined;
				}, 100);
			},
			categoryClickMain(index) {
				// alert(index)
				this.categoryActive = index;
				this.scrollTop == this.arr[index] ? (this.scrollTop = this.scrollTop + 1) : (this.scrollTop = this.arr[
					index]); //防止两次相等造成点击不触发滚动时间
					
				const item = this.classifyData[index]
				// debugger/*  */
				// this._loadHome(item.value)
				this.currentitem = this.classifyData[index]
			},
			cart(code, text) {
				// uni.showToast({
				// 	title: text,
				// 	icon: 'none'
				// });
				uni.navigateTo({
					url: `./products_s/products_s?code=${code}&title=${text}`
				})
			}
		},
		components: {}
	};
</script>

<style scoped lang="less">
	.page {
		background: #000000;

		.header {
			width: 100%;
			line-height: 88rpx;
			font-size: 32rpx;
			color: #fff;
			// position: fixed;

			// z-index: 10;
			// left: 0;
			// top: 0;
			// padding: 0 20rpx;
			.searchBar {
				height: 60rpx;
				line-height: 60rpx;
				border-radius: 30rpx;
				background: #F5F5F5;
				padding: 0 40rpx;
				margin: 0 20rpx;
			}

			.btns {
				width: 88rpx;
				height: 88rpx;
				color: #333;

				.iconfont {
					font-size: 40rpx;
				}
			}
		}
	}

	.page-body {
		display: flex;

		overflow: hidden;

	}

	.boxs {
		display: block;
		overflow: hidden;
		margin-bottom: 20rpx;
		padding: 20rpx;
		border-radius: 12rpx;
		background: #fff;
		/* min-height: 100vh; */
		/*若您的子分类过少想使得每个子分类占满屏请放开上边注视 */
	}

	.active {

		border-right: 0;

		.current {
			color: #0055ff;
			font-size: 16px;
			height: 56rpx;
			line-height: 56rpx;
			border-radius: 28rpx;
			padding: 0 20rpx;
		}
	}

	::-webkit-scrollbar {
		/*取消小程序的默认导航条样式*/
		width: 0;
		height: 0;
		color: transparent;
	}

	.scroll-view_H {
		white-space: nowrap;
		color: #F5F5F5;
		width: 100%;
	}

	.scroll-view-item {
		height: 300rpx;
		line-height: 300rpx;
		text-align: center;
		font-size: 16rpx;
	}

	.scroll-view-item_H {
		display: inline-block;
		width: 25%;
		height: 100rpx;
		line-height: 100rpx;
		color: #666;
		text-align: center;
		font-size: 16rpx;
	}

	.aui-list-theme-item {
		width: 100px !important;
		margin: 5px;
		box-shadow: 0 0 0 #000 !important;
		// flex: 0 0 33.3%;
	}

	.aui-list-img-az {
		position: relative;
		overflow: hidden;
		text-align: center;
		color: #fff;
		padding-bottom: 130%;
		width: 100%;
		height: 0;
		border-radius: 5px;
		box-shadow: 0 0px 3px #333333;
	}

	.aui-list-img-right {
		position: absolute;
		right: 5px;
		top: 5px;
		border-radius: 5px !important;
		;
		font-size: 10px;
		padding: 0px 2px;
		color: #fff;
	}

	.aui-list-img-left {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0);
		position: absolute;
		left: 5px;
		bottom: 5px;
		border-radius: 5px;
		font-size: 9px;
		padding: 0px 2px 0px 2px;
		background-color: #292929;
		color: #fff;
		height: 15px;
		line-height: 15px;
	}

	.aui-list-img-vip {
		width: 25px;
		height: 33px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.aui-list-title {
		font-size: 12px;
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		word-wrap: break-word;
		word-break: break-all;
		color: #bdb8b8;
		margin-top: 5px;
		text-align: center;
		margin-bottom: 30rpx;
	}
.item-box{
	flex-wrap: wrap;
	    justify-content: space-between;
}
.none{
	color: #fff;
	text-align: center;
	line-height: 6;
	width: 100%;
}
 </style>
