<template>
	<view class="pages" >
		<!-- #ifdef H5 -->
		<view style="background: #000000;" class="header flex flex_center" @tap="toSearchPage">
		<view>惠美视频</view>
		<tui-icon style="position: absolute; right:15px;" name="search" :size="20" color="#CBCBCB"></tui-icon>
		</view>
		<!-- <iframe src="https://v.qq.com/x/page/e3125mlonsm.html" frameborder="0"></iframe> -->
		<!-- <iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=e3125mlonsm" allowFullScreen="true"></iframe> -->
<!-- 		<video src="http://1257954096.vod2.myqcloud.com/dc9e0a52vodcq1257954096/2734bac15285890805848918974/k5iITpn4sJMA.mp4" controls></video> -->
		<!-- #endif -->
		<!-- 菜单 -->
		<view class="uni-padding-wrap">
			<view class="page-section swiper">
				<view class="page-section-spacing">
					<swiper class="swiper" :indicator-dots="true" :autoplay="true">
						<block v-for="(item, index) in banners" :key="index">
						<swiper-item @click="">
						<image :src="item.link_file" mode="aspectFill" lazy-load="true" class="swiper-item uni-bg-red" style="width: 100%;height: 100%;"></image>
						<view class="text-banner">
						<view class="text-banner-text">
							{{item.link_name}}
						</view>	
						<!-- <view class="text-banner-text">
							{{item.link_remark}}
						</view> -->	
						<view class="text-banner-btns">
							<!-- <view class="text-banner-btn play-btn"><image style="width: 18px; height: 18px;" src="/static/img/video/piandan.png"></image><br></view> -->
							<view class="text-banner-btn play-btn"><br></view>
							<view class="text-banner-btn"><navigator :url="item.link_url"><view class="text-banner-play">播放</view></navigator></view>
							<view class="text-banner-btn play-btn"><navigator :url="item.link_url"><br></navigator></view>
<!-- 							<view class="text-banner-btn play-btn"><navigator :url="item.link_url"><image style="width: 18px; height: 18px;" src="/static/img/video/detail.png"></image><br></navigator></view> -->
						</view>
						</view>
						</swiper-item>
					</block>
					
					</swiper>
				</view>
			</view>
		</view>
	
		<view class="hot" style="padding: 20rpx;">
					<view class="aui-carFind-head">热门视频</view>
					<view class="hotItemBar flex flex_around">
						<block v-for="(item, index) in hotlist1" :key="index">
							<navigator :url="'/pages/main/details/details?code=' + item.goods_code">
								<view class="aui-list-theme-item">
								  <view class="aui-list-img-az">
									<image style="height: 130px; width: 100px;" :src="item.goods_main_img"></image>
								    <view class="aui-list-img-left"></view>
									<view class="aui-list-img-right">{{item.goods_attention}}</view>
									<image v-if="item.is_ems==1" class="aui-list-img-vip" src="../../static/img/video/vip-dot.png"></image>
								 </view>
								 <view class="aui-list-title">{{item.goods_title}}</view>
								</view>
							</navigator>
						</block>
					</view>
		</view>
	
	<view style="background: #000000;" class="page-body" >
		<view class="aui-carFind-head">搞笑集合</view>
		<scroll-view class="scroll-view_H" scroll-x="true" >
			<view class="scroll-view-item_H" >
				<view class="hotItemBar flex ">
					<block v-for="(item, index) in hotlist2" :key="index">
					<navigator :url="'/pages/main/details/details?code=' + item.goods_code">
						<view class="aui-list-theme-item">
						  <view class="aui-list-img-az">
							<image style="height: 130px; width: 100px;" :src="item.goods_main_img"></image>
						    <view class="aui-list-img-left"></view>
							<view class="aui-list-img-right">{{item.goods_attention}}</view>
							<image class="aui-list-img-vip" src="../../static/img/video/vip-dot.png"></image>
						 </view>
						 <view class="aui-list-title">{{item.goods_title}}</view>
						</view>
					</navigator>
					</block>
					
					</view>
			</view>
		</scroll-view>
	</view>
	
	<view style="background: #000000;" class="page-body" >
		<view class="aui-carFind-head">热舞世界</view>
		<scroll-view class="scroll-view_H" scroll-x="true" >
			<view class="scroll-view-item_H" >
				<view class="hotItemBar flex ">
					<block v-for="(item1, index) in hotlist3" :key="index">
					<navigator :url="'/pages/main/details/details?code=' + item1.goods_code">
						<view class="aui-list-theme-item">
						  <view class="aui-list-img-az">
							<image style="height: 130px; width: 100px;" :src="item1.goods_main_img"></image>
						    <view class="aui-list-img-left"></view>
							<view class="aui-list-img-right">{{item1.goods_attention}}</view>
							<image class="aui-list-img-vip" src="../../static/img/video/vip-dot.png"></image>
						 </view>
						 <view class="aui-list-title">{{item1.goods_title}}</view>
						</view>
					</navigator>
					</block>
					
					</view>
			</view>
		</scroll-view>
	</view>


<view style="background: #000000;" class="page-body" >
		<view class="aui-carFind-head">心灵治愈</view>
		<scroll-view class="scroll-view_H" scroll-x="true" >
			<view class="scroll-view-item_H" >
				<view class="hotItemBar flex ">
					<block v-for="(item1, index) in hotlist4" :key="index">
					<navigator :url="'/pages/main/details/details?code=' + item1.goods_code">
						<view class="aui-list-theme-item">
						  <view class="aui-list-img-az">
							<image style="height: 130px; width: 100px;" :src="item1.goods_main_img"></image>
						    <view class="aui-list-img-left"></view>
							<view class="aui-list-img-right">{{item1.goods_attention}}</view>
							<image class="aui-list-img-vip" src="../../static/img/video/vip-dot.png"></image>
						 </view>
						 <view class="aui-list-title">{{item1.goods_title}}</view>
						</view>
					</navigator>
					</block>
					
					</view>
			</view>
		</scroll-view>
	</view>
		<!-- 热门推荐 -->
	
	
	
	<!-- 	<a href=" " target="_blank">
			<img alt="我要啦免费统计" src="//ia.51.la/go1?id=20929387&pvFlag=1" style="border:none" />
			闽ICP备10208645号-1
		</a > -->
	<!-- 	<LoadMore :status="loadStatus" /> -->
		
	</view>
</template>

<script>
import { mapState } from 'vuex';
import tuiCountdown from '@/components/countdown/countdown';
import SET from '@/SET.js'
const global_Set_jll = uni.getStorageSync(SET.globalSetName);
// import mixin from '@/common/mixin.js'


export default {
	data() {
		return {
			banners: [],
			iconList: [],
			hotlist1: [],
			hotlist2: [],
			hotlist3: [],
			hotlist4: [],
			loadStatus: 'more',
			formParams: {
				"key": "",//关键字
				  "type": "0",//0-综合 1-热销 2-价格 
				  "sort": "desc",//asc-升序 desc-降序  
				  "class_code": "",
				  "pageIndex": 1,//分页：页面索引，第几页
				  "pageSize": 10//分页：页面大小，每页几条
			},
			onBottom: true,
			onTop: true,
			classList: '',
			ifActivity:global_Set_jll.isLimitActivity?true:false
		};
	},
	// mixins:[mixin],
	components: {
		tuiCountdown
	},
	// computed: mapState(['hasLogin']),
	// 点击搜索框
	onNavigationBarSearchInputClicked() {
		// alert(1)
		uni.hideKeyboard();
		uni.navigateTo({
			url: '/pages/main/search/search'
		});
	},
	onNavigationBarSearchInputConfirmed(e) {
		uni.hideKeyboard();
		uni.navigateTo({
			url: '/pages/main/search/search'
		});
	},
	// 点击搜索框
	onNavigationBarSearchInputChanged(e) {

		uni.navigateTo({
			url: '/pages/main/search/search'
		});
	},
	onNavigationBarButtonTap(e) {
		// console.log(e.index);
		if (e.index === 0) {
			// 点击搜素
			// this.scanSQR();
			this.$ui.toast('开发中');
		} else {
			// 点击搜素
			uni.navigateTo({
				url: '/pages/main/search/search'
			});
		}
	},

	
	onLoad() {
		let that = this;
		// const global_Set_jll = uni.getStorageSyglobal_Set_jll_Set_jll');
		this.banners = global_Set_jll.banerList;
		// console.log(this.banners)
		this.classList = global_Set_jll.classList;
		
		this.hotlist1=global_Set_jll.lst_hot_goods1;
		this.hotlist2=global_Set_jll.lst_hot_goods2;
		this.hotlist3=global_Set_jll.lst_hot_goods3;
		this.hotlist4=global_Set_jll.lst_hot_goods4;
		this._getList('refresh');
		this._loadHome()
		
	},
	onShow() {
		// this.formParams.pageIndex = 1;
		// this.lists = [];
		// this._getList('refresh');
	},
	methods: {
		async _loadHome(type) {
			let that = this;
			try {
				let res = await this.$api.crm_getHome()
				if(res.result==1){
					this.banners = res.data.lst_baner
					this.iconList = res.data.tree_class.slice(0,5)
					this.hotlist1=res.data.lst_hot_goods1.rows
					this.hotlist2=res.data.lst_hot_goods2.rows
					this.hotlist3=res.data.lst_hot_goods3.rows
					this.hotlist4=res.data.lst_hot_goods4.rows
					uni.setStorageSync('rj_lst_hot_goods1',res.data.lst_hot_goods1)
					uni.setStorageSync('rj_lst_hot_goods2',res.data.lst_hot_goods2)
					uni.setStorageSync('rj_lst_hot_goods3',res.data.lst_hot_goods3)
					uni.setStorageSync('rj_lst_hot_goods4',res.data.lst_hot_goods4)
					uni.setStorageSync('rj_banerList',res.data.lst_baner)
					uni.setStorageSync('rj_iconList',res.data.tree_class)
					uni.setStorageSync('rj_qr_code',res.data.lst_qr_code_detail[0])
					// this.lists = res.data.lst_hot_product.rows				
				}else{
					this.$refs.uToast.show({
						title: res.msg,
						type: 'error',
						position: 'center',
					})
				}
			} catch (err) {
				console.log('请求结果false : ' + err);
				that.pageLoading = false
			}
		},
		toSearchPage() {
			uni.navigateTo({
				url: '/pages/main/search/search'
			});
		},
		_href(url) {
			uni.navigateTo({
				url: url
			});
		},
		imageError1(item) {
			item.Text = '../../static/none3_1.jpg';
		},
		imageError2(item) {
			item.class_logo = '../../static/none1_1.jpg';
		},
		// 扫描二维码  引导商家注册
		scanSQR() {
			let that = this;
			uni.scanCode({
				onlyFromCamera: true,
				success: function(res) {
					// console.log('条码类型：' + res.scanType);
					// console.log('条码内容：' + JSON.stringify(res));
					let result = res.result;
					let arr = result.split('_HePai_');
					if (arr.length <= 1) {
						that.$ui.toast('无效码');
						return;
					}
					let channal = arr[0];
					let pId = arr[1];

					uni.navigateTo({
						url: '/pages/levelup/regNewChannel/regNewChannel?channel=' + channal + '&pId=' + pId
					});
				}
			});
		},
		imageLoad(index) {
			if (this.lists[index]) {
				this.$set(this.lists[index], 'load', true);
			}
		},
		loadError(index) {
			// console.log('图片未找到');
			this.lists[index].goods_main_img = '/static/img/noPic.jpg';
		},
		
	}
};
</script>

<style lang="scss" scoped>
.pages {
	.text-banner {
    width: 100%;
	position: absolute;
    bottom: 0px;
	left: 0px;
	padding-bottom: 30px;
	z-index: 999;
	background: linear-gradient(to top, #0f0f0f, rgba(0,0,0,0.7), rgba(0,0,0,0));
	}
	.text-banner-text {
    width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	}
	.text-banner-btns {
	color: #fff;
	display: flex;
	aligns-center: center;
	padding: 0 20px;
	font-size: 12px;
	padding-top: 15px;
	}
	.text-banner-btn {
	width: 33%;
	text-align: center;
	}
	.text-banner-img {
	width: 18px;
	height: 18px;
	}
	.text-banner-play {
	background: #fff;
	color: #000000;
	padding: 5px 10px;
	background-image: url(../../static/img/video/player.png);
	background-size: 17px;
	background-position: 10px center;
	padding-left: 35px;
	text-align: right;
	background-color: #fff;
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	}
	.aui-carFind-head{
		font-size: 16px;
		margin-left: 20rpx;
		margin-bottom: 40rpx;
		color: #fff;
	}
	.aui-list-theme-item {
	    width: 100px !important;
	    margin: 5px;
	    box-shadow: 0 0 0 #000 !important;
	}
	.aui-list-img-az {
		position: relative;
	    overflow: hidden;
	    text-align: center;
	    color: #fff;
	    padding-bottom: 130%;
	    width: 100%;
	    height: 0;
		border-radius: 5px;
	    box-shadow: 0 0px 3px #333333;
	}
	.aui-list-img-right{
	position: absolute; 
	right: 5px; 
	top: 5px; 
	border-radius: 5px !important;;
	font-size: 10px; 
	padding: 0px 2px; 
	color: #fff;  
	}
	.aui-list-img-left{
	background-color: rgba(255,255,255,0.8); 
	border: 1px solid rgba(0, 0, 0, 0); 
	position: absolute; 
	left: 5px; 
	bottom: 5px; 
	border-radius: 5px; 
	font-size: 9px; 
	padding: 0px 2px 0px 2px; 
	background-color: #292929;
	color: #fff;
	height: 15px; 
	line-height: 15px;
	}
	.aui-list-img-vip{
	width: 25px;
	height: 33px;
	position: absolute;
	top: 0;
	left: 0;
	}
	.aui-list-title{
		font-size: 12px;
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		word-wrap: break-word;
		word-break: break-all;
		color:#bdb8b8;
		margin-top: 5px;
		text-align: center;
		margin-bottom: 30rpx;
	}																					
	background: #000000;
	// padding: 20rpx;
	padding-top: 88rpx;
	.uni-padding-wrap {
		
		.swiper {
			// border-radius: 12rpx;
			overflow: hidden;
			width: 100%;
			height: 430px;
			.swiper-item {
				background: #eee;
				
			}
		}
	}

	.header {
		width: 100%;
		line-height: 88rpx;
		height: 88rpx;
		font-size: 32rpx;
		color: #fff;
		position: fixed;
		background: #ededed;
		z-index: 10;
		left: 0;
		top: 0;
		// padding: 0 20rpx;
		.searchBar {
			height: 60rpx;
			line-height: 60rpx;
			border-radius: 30rpx;
			background: #fff;
			padding: 0 40rpx;
			margin: 0 20rpx;
		}
		.btns {
			width: 88rpx;
			height: 88rpx;
			color: #333;
			.iconfont {
				font-size: 44rpx;
			}
		}
	}
	.menus {
		background: #fff;
		height: 172rpx;
		// border-radius: 12rpx;
		.menusIcons {
			width: 90rpx;
			height: 90rpx;
		}
		.text {
			margin-top: 14rpx;
			font-size: 24rpx;
		}
	}
	.flashSale{
		width: 100%;
		height: 160rpx;
		margin-top: 20rpx;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.box {
		padding: 0 20rpx 20rpx 20rpx;
		background: #fff;
		.floors {
			width: calc(50vw - 28rpx);
			height: 130rpx;
			.floorsPic {
				width: 100%;
				height: 130rpx;
			}
		}
	}
	.hot {
		width: 100%;
		// padding: 0 20rpx;
		.title {
			line-height: 1;
			margin-bottom: 8rpx;
			margin-top: 32rpx;
			font-weight: bolder;
		}
		.hotItemBar {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			// padding: 0 20rpx;
		}
		.tags {
			background: linear-gradient(to right, #ee7e33, #ea3333);
			color: #fff;
			padding: 0 8rpx;
			border-radius: 4rpx;
			font-size: 20rpx;
			line-height: 28rpx;
			height: 28rpx;
			margin-right: 10rpx;
		}
		.page-body {
			display: flex;
			overflow: hidden;
		}
		.scroll-view_H {
			white-space: nowrap;
			color: #F5F5F5;
			width: 100%;
		}
		.scroll-view-item {
			height: 300rpx;
			line-height: 300rpx;
			text-align: center;
			font-size: 16rpx;
		}
		.scroll-view-item_H {
			display: inline-block;
			width: 25%;
			height: 100rpx;
			line-height: 100rpx;
			color: #666;
			text-align: center;
			font-size: 16rpx;
		}
	}
}
</style>
