<template>
	<view class="pages">
		<view class="aui-list">
			<view class="bg">
				<view  class="aui-list_title">会员</view>
				<view class="aui-list_text">惠美视频</view>
				<view class="aui-list_bottom">会员有效期至</view>
				<image class="aui-list_img"  src="../../../static/img/video/icon-vip.png"></image>
			</view>
		</view>
		<view class="cl_text">会员购买</view>
		<view class="cm_pd10">
			<view class="flex box">
				<view class="blocks " v-for="(item,index ) in cashLists" :key="index" :class="{'active':type==index}" @tap="_chooseMoney(index,item.Value)">
					<view class="item-month">{{item.title}}</view>
					<view class="item-money">￥{{item.value}}</view>
					<view class="item-bottom">￥{{item.sale_value}}</view>
					
				</view>
			</view>
			<view style="padding:72rpx 30rpx;">
				<button style="padding: 15px 0px;color: #fff;font-size: 16px;text-align: center;width: 100%;border-radius: 30px;background: #1C87FF;" type="primary" shape="circle" @tap="_creatOrder" :disabled="false" :loading="loading">立即支付</button>
			</view>
		</view>
		<!-- <Success ref="successModal" title="充值成功" des="请及时确认账户元btn="知道了" ></Success> -->
	</view>
</template>

<script>
	import Utils from '@/utils/utils.js'
	export default {
		data() {
			return {
				formParams: {
					 "pay_type":0,  //1-支付宝 2-微信
					 "pay_source":0,  //0-定额充值 1-聚友手续费 2-粉丝手续费 3-VIP手续费
					 "order_num":"",  //订单号
				},
				type:0,
				cashLists:[],
				loading:false,
				recharge_code:''
			};
		},
		onLoad(){
			this.initCashList()
		},
		methods: {
			async initCashList(){
				let that = this
				try {
					this.$ui.showloading()
					let res = await this.$api.RechargeList({});
					this.$ui.hideloading();
					if (res.result==1) {
						 console.log(res.data);
						that.cashLists = res.data;
						that.recharge_code =  that.cashLists[0].Value
					} else {
						
						that.$ui.toast(res.data)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
					this.$ui.hideloading();
				}
			},
			_chooseMoney(k,code){
				// console.log(code)
				this.type = k;
				this.recharge_code = code
			},
			_readyToPay(){
				let that = this
				uni.showActionSheet({
					itemList: ['微信支付', '支付宝支付'],
					success: function (res) {
						// console.log('选中了第' + (res.tapIndex + 1) + '个按钮')
						if(res.tapIndex ==0){
							// 微信支付
							that.formParams.pay_type = 2
							that._pay(2)
						}else{
							// 支付宝支付
							that.formParams.pay_type = 1
							that._pay(1)
						}
					},
					fail: function (res) {
						console.log(res.errMsg);
					}
				});
			},
			async _creatOrder(){
				let that = this;
				let  data = {recharge_code:this.recharge_code};
				console.log(data)
				try {
					this.loading = true
					let res = await this.$api.Recharge(data);				
					this.loading = false
					if (res.result==1) {
						console.log(res)
						that.formParams.order_num    = res.data
						that._readyToPay()
					} else {
						
						that.$ui.toast(res.data)
					}
				} catch (err) {
					console.log('请求结果false : ' + err)
				}
			},
			async _pay(k,callback) {
				let that = this
				try {
					uni.showLoading('处理中,请稍后...')
					let res = await this.$api.toPayment(this.formParams);				
					this.$ui.hideloading();
					if (res.result==1) {
						console.log(res)
						if(k==1){
							// 支付宝支付
							that._toAliPay(res.data)
						}else{
							// 微信支付
							that._toWXPay(res.data)
						}
					
					} else {
						that.$ui.toast(res.msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err)
				}
				
				if (callback) callback()
			},
			_toWXPay(data){
				let  that = this
				Utils.WxPay(data,()=>{
					// that.$refs.successModal.show();
					// that.$store.commit('refresh_account');
					uni.$emit('refresh_user');
					uni.redirectTo({
						url:'/pages/features/success/success'
					})
				})
			},
			_toAliPay(str) {
				let  that = this
				Utils.AliPay(str,()=>{
					// that.$refs.successModal.show();
					// that.$store.commit('refresh_account');
					uni.$emit('refresh_user');
					uni.redirectTo({
						url:'/pages/features/success/success'
					})
				})
			}
		}
	}
</script>

<style lang="less" scoped>
	.pages {
		background: #000000;
		.scroll-view_H {
			white-space: nowrap;
			color: #F5F5F5;
			width: 100%;
		}
		.scroll-view-item {
			height: 300rpx;
			line-height: 300rpx;
			text-align: center;
			font-size: 16rpx;
		}
		.scroll-view-item_H {
			display: inline-block;
			width: 25%;
			height: 100rpx;
			line-height: 100rpx;
			color: #666;
			text-align: center;
			font-size: 16rpx;
		}
		.hotItemBar {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			// padding: 0 20rpx;
		}
		.aui-list{
			width: 100%;
			padding: 20rpx 39rpx;
			.bg{
				
				padding: 30rpx 20rpx;
				background: linear-gradient(to top, #0B0B0B , #1E1C1D);
				background-image: url(../../../static/img/video/vip-bg.png);
				background-position: left top;
				background-size: 100% 100%;
				position: relative;
			}
			.aui-list_title{
				
				color: #999;
				font-size: 18px;
			}
			.aui-list_text{
				
				color: #999;
				font-size: 18px;
			}
			.aui-list_bottom{
				font-size: 11px !important;
				color: #666;
				margin-top: 100px;
				padding-bottom: 40px;
				padding-left: 15px;
			}
			.aui-list_img{
				position: absolute;
				    bottom: 30px;
				    right: 10px;
				    width: 80px;
					height: 80px;
			}
		}
		.cl_text{
			   padding: 0rpx 20rpx;
			    font-size: 16px;
			    color: #999;
		}
		
		.box {
			display: flex;
			overflow: hidden;
			padding: 20px;
            
			.blocks {
			width: 29% !important;
			height: 130px;
			border-radius: 5px;
		    background: linear-gradient(to top, #2D2D2F , #1E1E22);
			position: relative;
			margin-right: 10px;
			text-align: center;
			color: #fff;
				.value {
					font-size: 38rpx;
					font-weight: 600;
					color: #999;
					line-height: 3
				}
			}
             .item-month{
				padding-top: 30px;
				font-size: 16px;
			 }
			 
			 .item-money{
				font-size: 18px;
			 	padding-top: 10px;
			 	padding-bottom: 10px;
			 }
			 .item-bottom{
			 	font-size: 12px;
			 	text-decoration: 
				line-through;
			 }
			.active {
				
				background: #0055ff;
				.value {
					color: #333;
				}

				.cm_text {
					color: #333;
				}
			}
		}
		.submitbtn{
			border-radius: 44rpx
		}
		.cm_title{
			padding: 20rpx;
		}
	}
</style>
