<template>
	<view class="pages">
		<!-- 头部 -->
		<view class="pageTop">
			<view class="header flex flex_center">
				<cu-custom :isBack="true">
					<block slot="backText">
						<view class="btns flex flex_center"></view>
					</block>
					<block slot="content">
						<view class="cm_title">我的</view>
					</block>
					
				</cu-custom>
			</view>
			<view class="flex top flex_center" @tap="_auth_href('/pages/user/person/person')" v-if="hasLogin">
				<image src="../../static/img/video/default.png" mode="aspectFill"
				 class="avatar"></image>
				<view class="f1">
				<view class="name cm_title f1">{{ hasLogin?accountInfo.consumer_nick_name:'暂未登录'}}</view>
				<!-- <view class="name cm_title f1">vip已过期</view> -->
				<view class="name cm_title f1">邀请码:{{accountInfo.invitation_code}}</view>
				</view>
			</view>
			<view class="flex top flex_center" v-else>
				<image src="../../static/img/video/default.png" mode="aspectFit" class="avatar"></image>
				<text class="name cm_title f1">{{ hasLogin?accountInfo.consumer_nick_name:'暂未登录'}}</text>
				<!-- <navigator v-if="!hasLogin" class="cz" url="/pages/role/pLogin/pLogin">立即登录</navigator> -->
				<button type="default" class="cz" @click="_login">立即登录</button>
			</view>
		</view>
        <view class="accountBox" >
        		<view class="boxs bottom" style="background: #000000; padding: 0px;">
        			<view class="flex flex_center flex_between" >
        				<view class="menus flex flex_center flex_y ">
						<text class="cm_title">0</text>
        				<text class="cm_title">余额</text>
        				</view>
        				<view class="menus flex flex_center flex_y ">
        				<text class="cm_title">0</text>
        				<text class="cm_title">好友</text>
        				</view>
        				<view class="menus flex flex_center flex_y ">
        				<text class="cm_title">0</text>
        				<text class="cm_title">积分</text>
        				</view>
        			</view>
        			<!-- </view> -->
        		</view>
        	</view>
        
		<!-- 个人信息 -->
		<view class="accountBox" >

			<view class="boxs bottom" style="background: #000000;">
				<view class="flex flex_center flex_between" style="background: #000000; border: 1px solid #333;box-shadow: 0 3px 9px #222;padding: 10px 0;
    border-radius: 10px;">
					<view class="menus flex flex_center flex_y " @tap="_auth_href('/pages/features/order/order?current=1')">
						<img src="../../static/img/video/1.png" class="menusPic"></img>
						<text class="cm_t_24">收益提现</text>
						<view class="tips" v-if="hasLogin && accountInfo.wait_paying_count">{{accountInfo.wait_paying_count}}</view>
					</view>
					
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/features/order/order?current=2')">
						<img src="../../static/img/video/2.png" class="menusPic"></img>
						<text class="cm_t_24">分享好友</text>
						<view class="tips" v-if="hasLogin && accountInfo.wait_sending_count">{{accountInfo.wait_sending_count}}</view>
					</view>
				
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/features/order/order?current=3')">
						<img src="../../static/img/video/3.png" class="menusPic"></img>
						<text class="cm_t_24">活动中心</text>
						<view class="tips" v-if="hasLogin && accountInfo.wait_receiving_count">{{accountInfo.wait_receiving_count}}</view>
					</view>
					
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/features/cashRecharge/cashRecharge')">
						<img src="../../static/img/video/4.png" class="menusPic"></img>
						<text class="cm_t_24">会员升级</text>
						<view class="tips" v-if="hasLogin && accountInfo.returned_goods_count">{{accountInfo.returned_goods_count}}</view>
					</view>
					
				</view>
				<!-- </view> -->
			</view>
		</view>
		<!-- <view style="padding: 20rpx 20rpx 0 20rpx;">
			<view class=" shareBox" @tap="_auth_href('/pages/features/share/share')">
				<image src="../../static/img/wd_fx.png" mode="widthFix" class="shareBoxPic"></image>
			</view>
		</view> -->
		
		<!-- 菜单 -->
		<view class="menusBox">
			<view class="boxs">
				<view class=" flex flex_center flex_between">
					<view  style=" text-align: center; line-height: 44px; height: 44px; width: 250px;border-right: 2px solid #333;">
					<text  class="cm_title">用户服务</text>	
					</view>
					
					
					
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/features/help/help')">
						<img src="../../static/img/video/y2.png" class="menusPic"></img>
						<text class="cm_title">我的激活码</text>
						
					</view>
									
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/user/set/set')">
						<img src="../../static/img/video/y3.png" class="menusPic"></img>
						<text class="cm_title">使用帮助</text>
					</view>
					<view class="menus flex flex_center flex_y" @tap="_kefu">
						<img src="../../static/img/video/y4.png" class="menusPic"></img>
						<text class="cm_title">客服</text>
						
					</view>
					
					
				</view>
			</view>

		</view>
         <view class="menusBox" style="margin-top: 30rpx;">
			<view class="boxs">
				<view class=" flex flex_center flex_between">
					<view  style=" text-align: center; line-height: 44px; height: 44px; width: 250px;border-right: 2px solid #333;">
					<text  class="cm_title s">其它</text>	
					</view>
					
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/features/help/help')">
						<img src="../../static/img/video/y5.png" class="menusPic"></img>
						<text class="cm_title">使用帮助</text>
						
					</view>
									
					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/user/set/set')">
						<img src="../../static/img/video/y6.png" class="menusPic"></img>
						<text class="cm_title">留言反馈</text>
					</view>

					<view class="menus flex flex_center flex_y" @tap="_auth_href('/pages/user/set/set')">
						<img src="../../static/img/video/y7.png" class="menusPic"></img>
						<text class="cm_title">设置</text>
						
					</view>
					
				</view>
			</view>

		</view>
     
	
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations
	} from 'vuex';
	// import tuiLoadmore from "@/components/loadmore/loadmore"
	import http from '@/utils/http/index.js';
	const globalSet = uni.getStorageSync(SET.globalSetName)
	const g_qr_code = uni.getStorageSync('rj_qr_code')
	import SET from '@/SET.js'


	export default {
		data() {
			return {
				// accountInfo: '',
				kefu: '',
				modal: false,
				logining: false,
				content: '请您先登录',
				action: 'login',
				loginParams: {
					"username": "",
					"password": "",
					"vilidate": "000000",
				},
				formParams: {
					"key": "",//关键字
					  "type": "1",//0-综合 1-热销 2-价格 
					  "sort": "desc",//asc-升序 desc-降序  
					  "class_code": "",
					  "pageIndex": 1,//分页：页面索引，第几页
					  "pageSize": 10//分页：页面大小，每页几条
				},
				onBottom: true,
				onTop: false,
				qr_code_modal:false,
				qr_code:'',
				phone: ''
			};
		},
		onLoad() {
			let that = this;

			// this.autoLogin()
			// this.GetKefu();

			// 注册刷新事件
			uni.$on('refresh_user', function() {
				that.$store.dispatch('refreshUser')
			});
			console.log(globalSet)
			this.qr_code = g_qr_code ? g_qr_code.link_file : ''
			// alert(	this.qr_code )
			this._getShopSet();
			this._getList();
		},
		onShow() {
			
			if(this.hasLogin){
				this.$store.dispatch('refreshUser')
			}
		},
		computed: {

			// hasLogin() {
			// 	return this.$store.state.hasLogin ? this.$store.state.hasLogin : false;
			// },
			// accountInfo() {
			// 	return this.$store.state.accountInfo
			// },
		},
		watch: {
			hasLogin(newValue, oldValue) {
				// this.loadData();
			},
			// accountInfo(o,n){
			// 	console.log(o)
			// 	console.log(n)
			// },
		},
		components: {
		},
		// 下拉刷新
		onPullDownRefresh() {
			// if (!this.hasLogin) {
			// 	uni.stopPullDownRefresh();
			// 	return;
			// }
			// this.loadData(() => {
			// 	uni.stopPullDownRefresh();
			// });
		},
		methods: {
		
			
			// 热门推荐
			async _loadList(type, callback) {
				let that = this;
				try {
					if (type == 'refresh') {
						that.loadStatus = 'loading';
					} else {
						that.loadStatus = 'loading';
					}

					let res = await this.$api.GetGoodsList(this.formParams);

					if (type == 'refresh') {
						// this.$ui.hideloading()
					} else {
						// that.loadStatus = 'loading'
					}
					if (res.result == 1) {
						if (type == 'refresh') {
							// 刷新
							that.loadStatus = 'more';
							that.list = res.data.rows;
						} else {
							// console.log(res.data.rows.length);
							// 更多
							if (res.data.rows.length == 0) {
								that.loadStatus = 'noMore';
							} else {
								let arr = that.list.concat(res.data.rows);
								that.list = arr;
								that.loadStatus = 'more';
							}
						}
					} else {
						that.$ui.toast(res.msg)
					}
				} catch (err) {
					// console.log('请求结果false : ' + err);
					that.loadStatus = 'more';
					if (callback) callback();
				}
				// this.loadModal = false;
				// this.$ui.hideloading();
				if (callback) callback();
			},
			_href(val) {

				if (!this.hasLogin) {
					this.content = '请您先登录'
					this.action = 'login' ///features/authentication/authentication'
					this.modal = true
					return;
				}
				switch (val) {
					case 'set':
						uni.navigateTo({
							url: '/pages/user/set/set'
						})
						break;
					default:
						uni.navigateTo({
							url: `/pages${val}`
						})
						break;
				}
			},
			// 加载个人信息
			async loadData(callback) {
				// alert(1)
				let that = this;
				try {
					// this.$ui.showloading();

					let res = await this.$api.getConsumer({}, false);
					// this.$ui.hideloading();
					// "wait_paying_count": 0,     //订单支付订单数
					//         "wait_sending_count": 0,    //等待发货订单数
					//         "wait_receiving_count": 0,  //等待收货订单数
					//         "returned_goods_count": 0,  //等待收货订单数
					// console.log(res)
					if (res.result == 1) {
						if (res.data) {
							that.$store.commit('setAccountInfo', res.data);
							// that.accountInfo = res.data;
						}
					} else {
						that.$ui.toast(res.msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			handleClick(e) {
				let index = e.index;
				if (index === 0) {
					// this.tui.toast("你点击了取消按钮")			
				} else {
					// this.tui.toast("你点击了确定按钮")

					switch (this.action) {
						case 'login':
							uni.navigateTo({
								url: '/pages/role/pLogin/pLogin'
							})
							// uni.navigateTo({
							// 	url:'/pages/role/login/login'
							// })	
							break;
						case 'authentication':
							uni.navigateTo({
								url: '/pages/features/authentication/authentication'
							})
							break;
						case 'payPass':
							uni.navigateTo({
								url: '/pages/user/setPayPass/setPayPass'
							})
							break;
						default:
							break;
					}

				}
				this.modal = false
			},
			// 客服
			_kefu() {

				let that = this
				this.qr_code_modal = true	
				// uni.showModal({
				// 	title: '惠美视频提醒你',
				// 	content: '立即致电官方客服？',
				// 	success: function(res) {
				// 		that.show = false;
				// 		if (res.confirm) {
				// 			uni.makePhoneCall({
				// 				phoneNumber: this.phone //仅为示例
				// 			});
				// 		} else if (res.cancel) {
				// 			console.log('用户点击取消');
				// 		}
				// 	}
				// });
			},
			async _getShopSet() {
				let that = this;
				try {
					let res = await this.$api.crm_getShopSet()					
					if (res.result == 1) {
						let text = res.data.tqa ? res.data.tqa.phone : ''
						this.phone = text ? text.split('：')[1] : ''
						
						uni.setStorageSync('hotPhone',this.phone)
					}

				} catch (err) {
					console.log('请求结果false : ' + err);
					that.pageLoading = false
				}
			},
		}
	};
</script>

<style scoped lang="scss">
	.pages {
		
		
		min-height: 100vh;
		background: #000000;
		// padding-bottom: 20rpx;
		.pageTop {
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			height: 260rpx;

			.header {
				width: 100%;
				line-height: 88rpx;
				font-size: 32rpx;
				color: #fff;

				.cm_title {
					text-align: center;
					color: #fff;
				}

				.btns {
					width: 88rpx;
					height: 88rpx;

					.iconfont {
						font-size: 44rpx;
					}
				}
			}

			.top {
				height: 118rpx;
				line-height: 118rpx;
				padding: 40rpx;

				.avatar {
					width: 102rpx;
					height: 102rpx;
					margin-right: 26rpx;
					border-radius: 50%;
					border: 2rpx solid #fff;

					img {
						// width: 100%;
					}

					// box-sizing: content-box;
				}

				.name {
					color: #fff;
				}

				.cz {
					// width: 104rpx;
					line-height: 54rpx;
					height: 54rpx;
					border: none;
					background: #333;
					color: #fff;
					text-align: center;
					padding: 0 20rpx;
					font-size: 26rpx;
					border-radius: 4rpx;
				}
			}
		}

		.accountBox {
			width: 100%;
			// height: 386rpx;
			position: relative;
			// padding: 0 20rpx;
			// background: red;

			.content {
				height: 160rpx;
			}

			.bottom {
				width: 100%;
				background: #fff;
				padding: 40rpx 20rpx;
				.menus {
					width: 100%;
                    color: #6e7279;
					position: relative;
                    .cm_title {
                    	 margin-top: 6rpx;
                    	 color: #6e7279;
                    }
					.menusPic {
						width: 100rpx;
						height: 100rpx;
						margin-bottom: 20rpx;
						margin-top: 32rpx;
					}

					.tips {
						width: 30rpx;
						height: 30rpx;
						color: #fff;
						background: red;
						border-radius: 50%;
						position: absolute;
						right: 20rpx;
						top: 20rpx;
						font-size: 20rpx;
						text-align: center;
						line-height: 30rpx;
					}
				}
			}
		}

		.menusBox {
			padding: 40rpx;
			.boxs {
				padding: 0rpx 20rpx;
				border-radius: 0rpx;
				margin-bottom: 0rpx;
                background: #000000;
				
				.cm_title {
					 margin-top: 6rpx;
					 color: #6e7279;
				}

				.menus {
					width: 100%;
					height: 92rpx;
					
					
					.menusPic {
						width: 78rpx;
						height: 78rpx;
						margin-right: 12rpx;
					}
				}
                
				.menuTextNum {
					font-size: 48rpx;
					color: #5bc1ab;
					margin-bottom: 20rpx;
					margin-top: 36rpx;
				}
			}
		}
		
		.shareBox{
			width: 100%;
			.shareBoxPic{
				width: 100%;
			}
		}
		
		.shadowLeft {
			// box-shadow:  -4rpx 0 16rpx #eee ;
			position: relative;

			&::before {
				content: '';
				width: 30rpx;
				height: 80rpx;
				// background: red;
				position: absolute;
				left: -30rpx;
				top: 48rpx;
				overflow: hidden;
				// border: 1rpx solid red;
				// background: radial-gradient(0 0,  #333,#fff );
				background: -webkit-radial-gradient(center, #dedede 30%, #fff 70%);
				// background-size: 90% 60%;
				background-position: 20rpx 0;
				background-repeat: no-repeat;
			}
		}

		.hot {
			width: 100%;
			padding: 0 20rpx;

			.title {
				line-height: 1;
				margin-bottom: 8rpx;
				margin-top: 32rpx;
				font-weight: bolder
			}

			.hotItemBar {
				width: 100%;
				flex-wrap: wrap;
				justify-content: space-between;
				// padding: 0 20rpx;

				.proItemsBox {
					width: calc((100% - 56rpx) / 2);
					height: 560rpx;
					background: #fff;
					border-radius: 14rpx;
					margin-top: 16rpx;
					overflow: hidden;

					.picBox {
						width: 100%;
						height: 356rpx;
						position: relative;

						.pre {
							width: 100%;
							height: 347rpx;
							opacity: 0;
						}

						.timeBox {
							position: absolute;
							left: 0;
							bottom: -4rpx;
							width: 100%;
							height: 52rpx;
							line-height: 52rpx;
							background: $uni-color-error;
							color: #fff;
							text-align: center;
						}
					}

					.msgBox {
						padding: 16rpx;

						.tags {
							background: linear-gradient(to right, #EE7E33, #EA3333);
							;
							color: #fff;
							padding: 0 8rpx;
							border-radius: 4rpx;
							font-size: 20rpx;
							line-height: 28rpx;
							height: 28rpx;
							margin-right: 10rpx;
						}

						.cm_text {
							line-height: 64rpx;
							justify-content: flex-start;
						}

						.has {
							margin-top: 14rpx;
							padding: 0 16rpx;
							line-height: 36rpx;
							height: 36rpx;
							border-radius: 18rpx;
							font-size: 24rpx;
							background: #f7f7f7;
						}
					}
				}
			}
		}
		.tui-tips-img{
			width: 100%;
		}
	}
</style>
