

<template>
	<view class="pages">
	<view class="bg">
		<view  class="reg f1">
			<navigator url="../reg/reg">注册</navigator>
		</view>
		<view class="main-title">惠美</view>
	</view>
	
	<view class="main_box">
		<view  class="box-title">Hi~</view>
		<view class="con_bg">
			<div class="span first_sp">
				<input type="number" style="color: #ffffff;" class="inputs" v-model="form.username" placeholder="请输入手机号码" />
			</div>
			<div  class=" span second_sp">
                <input type="password" style="color: #ffffff;" class="inputs" cleable v-model="form.password" placeholder="请输入密码" />
			</div>
			
		</view>
		<button type="primary" class="log_btn"  shape="circle" :disabled="false" :loading="loading" @tap="bindLogin">登录</button>
		<view class="flex flex_center noteBox" >
			<tui-icon  name="circle-fill" :color="agree?'#50ab9f':'#666'" :size="16" @tap="_agree"></tui-icon>
			<text class="noteBox_text">已阅读并同意</text> 
			<navigator style="color: #4BAFF9;" url="/pages/main/note/note?type=1">《惠美视频隐私政策》</navigator>
			
		</view>
	</view>
	
		<tui-toast ref="toast"></tui-toast>
		<tui-tips position="top" ref="tips"></tui-tips>
	</view>
</template>

<script>
	// import InputGrouds from '@/components/InputGrouds/InputGrouds.vue'
	import SET from '@/SET.js'
	export default {
		data() {
			return {
				form: {
					"username":'',//手机号
					"password": '',//密码
					"vilidate": "000000",//验证码
					"openId": "",//openid
					"wx_code_type": "0"//0-公众号 1-小程序(不传默认为0)
				},
				rule: [{
					name: 'username',
					rule: ['isMobile'],
					msg: ['请输入正确的手机号']
				},
				{
					name: 'password',
					rule: ['required'],
					msg: ['请输入有效密码']
				}],
				loading:false,
				agree:true
			};
		},
		components: {
			// InputGrouds: InputGrouds
		},
		onLoad(){
			// this.inputsArray[0].defaultValue = '15959131219'
			// this.inputsArray[1].defaultValue = '888888'
			
		},
		methods: {
			_yzmLogin(){
				uni.redirectTo({
					url:'/pages/role/login/login'
				})
			},
			wxAuth(){
				uni.redirectTo({
					url:'/pages/role/wxLogin/wxLogin'
				})
			},
			_agree(){
				this.agree = !this.agree
			},
			_focusHandle(){
				
			},
			// 登录
			async bindLogin() {
				let that = this
				if(!this.agree){				
					let options = {
						msg: '请您阅读并同意《惠美视频隐私协议》有关事项',
						duration: 2000,
						type: 'danger'
					};
					this.$refs.tips.showTips(options);				
					return;
				}
				
				const res = this.$form.validation(this.form, this.rule)
				// let res = this.$refs.formInputs.verify();					
				if (res.status) {
					try{
						that.loading = true
						let res2 = await this.$api.userLogin(this.form,false)
						that.loading = false
						// console.log(res)
						if(res2.result==1){
							let params = {
								title: "登录成功",
								imgUrl: "/static/img/toast/check-circle.png",
								icon: true
							}
							that.$refs.toast.show(params);
							if(res2.data)uni.setStorageSync(SET.tokenName,res2.data);

							that.$store.commit('login')
							that.$store.dispatch('refreshUser')
							setTimeout(()=>{
								uni.navigateBack({
								})
							},1000)						
						}else{
							let options = {
								msg: res2.msg,
								duration: 2000,
								type: 'danger'
							};
							that.$refs.tips.showTips(options);
							that.loading = false
						}
					}catch(err){
						console.log( '请求结果false : ' + err )
						that.loading = false
					}		
				}else{
					let options = {
						msg: res.msg,
						duration: 2000,
						type: 'danger'
					};
					this.$refs.tips.showTips(options);
				}	
			}
		},
	}
</script>

<style lang="scss" scoped> 
	.pages{
		
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #000000;
		
		.noteBox{
			text-align: center;
			margin-top: 60rpx;
			margin-bottom: 60rpx;
			.noteBox_text{
				color: #999;
				padding: 15px;
		        font-size: 13px;
			}
		}
		.bg{
			color: #ffffff;
			background: #0f0f0f;
			height: 260px;
			background-image: url(../../../static/img/video/login-bg.png);
			background-position: top center;
		    background-size: cover;
			background-repeat: no-repeat;
			.reg{
				right: 5px; 
				position: absolute; 
				margin-top: 20rpx;
			}
			
		}
		.main-title{
			    text-align: center;
				line-height: 260px;
			    font-size: 22px;
		}
		
		.main_box{
			    position: absolute;
			    top: 220px;
			    left: 10px;
			    right: 10px;
			    border-radius: 20px;
			    background: #222222;
				.box-title{
					text-align: center;
					    margin-top: 20px;
					    font-size: 28px;
					    color: #fff;
				}
				.con_bg{
					padding: 30px;
					
					.span{
						margin-top: 20px;
						width: 100%;
						border-bottom: 1px solid #444;
						padding-left: 20px;
						background-position: left center !important;
						background-repeat: no-repeat !important;
						background-size: 18px !important;
						padding-bottom: 0px !important;
					}
					.first_sp{
						background: url(../../../static/img/video/icon-username.png);
					}
					.second_sp{
						background: url(../../../static/img/video/icon-pwd.png);
					}
					.inputs {
						color: ffffff;
						border-bottom: none;
						margin-top: 30rpx;
						margin-left: 20rpx;
						line-height: 60rpx;
						height: 88rpx;
					}
				}
		      .log_btn{
				  display: block;
				      background: linear-gradient(to right,#295AFF,#4BAFF9);
				      width: 90%;
				      padding: 10px 20px;
				      text-align: center;
				      margin: auto;
				      border-radius: 30px;
				      color: #fff;
			  } 
		}
	
	}
</style>
