<template>
	<view class="pages">
		<view class="bg">
			<view  class="reg f1">
				<navigator url="../pLogin/pLogin">登录</navigator>
			</view>
			<view class="main-title">惠美</view>
		</view>
		
		<view class="main_box">
			<view  class="box-title">Hi~</view>
			<view class="con_bg">
				<InputGrouds :inputsArray="inputsArray" @focusHandle="_focusHandle" :markWord="false" ref="formInputs"></InputGrouds>
				
			</view>
			<button type="primary" class="log_btn"  shape="circle" :disabled="false" :loading="loading" @tap="bindRegiste">注册</button>
		<view style="margin-top: 30px;"></view>
		</view>
		
	</view>
</template>

<script>
	import InputGrouds from '@/components/InputGrouds/InputGrouds.vue'
	import SET from '@/SET.js';
	export default {
		data() {
			return {
				loading:false,
				inputsArray: [
					// 用户手机号码
					{
						type: 'phone',
						id: 'mobile',
						defaultValue: '',
						iconPic: '../../../static/img/inpus/zc_icon_sj.png',
						placeholder:'请输入您的手机号',
						
					},
					// 用户密码
					{
						type: 'password',
						id: 'password',
						markWord:true,
						iconPic:'../../../static/img/inpus/zc_icon_mm.png',
						placeholder:'请输入您的密码'
					},
					{
						type: 'verify',
						id: 'vilidate',
						relevantId: 'mobile',
						iconPic:'../../../static/img/inpus/zc_icon_yzm.png',
						codeType:1,
						placeholder:'请输入短信验证码',
						buttonStyle:'block'
					},
				],
				type:1   ,//1为正常注册于微信无关，2为微信注册并绑定
				agree:true
			};
		},
		onLoad(options){
			// alert('a'+this.type)
			if(options.type==2){
				this.type = 2
				// uni.setNavigationBarTitle({
				// 	title:'绑定手机'
				// })
			}
		
			// alert('b'+this.type)
		},
		components: {
			InputGrouds: InputGrouds
		},
		methods: {
			_focusHandle(){
				this.hide = true
			},
			// 用户注册
			async bindRegiste() {
				if(!this.agree){
					
					this.$ui.toast('请您阅读并同意《惠美视频隐私政策》有关事项')
					return;
				}
				let re = this.$refs.formInputs.verify();
				let that = this
				const openid =  uni.getStorageSync(SET.opIdName);		
				
				let data = {
					 "mobile": "",//手机号
					  "password": "",//密码
					  "registe_type": "0",//注册类型  0-账号密码 1-手机号注册 2-微信注册 注册方式 1、手机号+验证码+密码 2-openId+wx_code_type
					  "user_type": "3",//用户类型  3-客户 5-渠道业务员
					  "invitation": "",//推荐码(不传默认为空)
					  "vilidate": "",//手机验证码
					  "openId": "",//微信openid
					  "wx_code_type": "0",//0-公众号 1-小程序(不传默认为0)
					  "nickname": "",// 微信昵称
					  "headimgurl": ""// 微信头像
				}
				
				
				if (re.status) {
					// let data = re.data
				
					data.mobile = re.data.mobile
					data.password = re.data.password
					data.vilidate = re.data.vilidate

					
					// if(this.type==2 && openid){
					// 	data.openId = openid
					// }
					
					// debugger
					try{
						that.loading = true
						let res = await this.$api.userRegiste(data,true)
						that.loading = false
						if(res.result==1){
							console.log(res)
							that.$ui.toast('注册成功，欢迎使用')
							if(res.data)uni.setStorageSync(SET.tokenName,res.data);
							that.$store.commit('login')
							that.$store.dispatch('refreshUser')
							setTimeout(()=>{
								uni.switchTab({
									url:'/pages/user/user'
								})
							},1000)					
						}else{
							that.$ui.toast(res.msg)
							that.loading = false
						}
						// console.log( '请求结果success : ' + JSON.stringify(res))
					}catch(err){
						console.log( '请求结果false : ' + err )
						that.loading = false
					}		
				}			
			},
			
			sendMessage() {
		
			}
		},
	}
</script>

<style lang="scss" scoped> 
	.pages{
		
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #000000;
		
		.noteBox{
			text-align: center;
			margin-top: 60rpx;
			margin-bottom: 60rpx;
			.noteBox_text{
				color: #999;
				padding: 15px;
		        font-size: 13px;
			}
		}
		.bg{
			color: #ffffff;
			background: #0f0f0f;
			height: 260px;
			background-image: url(../../../static/img/video/login-bg.png);
			background-position: top center;
		    background-size: cover;
			background-repeat: no-repeat;
			.reg{
				right: 5px; 
				position: absolute; 
				margin-top: 20rpx;
			}
			
		}
		.main-title{
			    text-align: center;
				line-height: 260px;
			    font-size: 22px;
		}
		
		.main_box{
			    position: absolute;
			    top: 220px;
			    left: 10px;
			    right: 10px;
			    border-radius: 20px;
			    background: #222222;
				.box-title{
					text-align: center;
					    margin-top: 20px;
					    font-size: 28px;
					    color: #fff;
				}
				.con_bg{
					padding: 30px;
					
					.span{
						width: 100%;
						border-bottom: 1px solid #444;
						padding-left: 20px;
						background-position: left center !important;
						background-repeat: no-repeat !important;
						background-size: 18px !important;
						padding-bottom: 0px !important;
					}
					.first_sp{
						
						background: url(../../../static/img/video/icon-code.png);
					}
					
					.inputs {
						
						border-bottom: none;
						margin-left: 30rpx;
						line-height: 60rpx;
						height: 76rpx;
					}
				}
		      .log_btn{
				display: block;
				background: linear-gradient(to right,#295AFF,#4BAFF9);
				width: 90%;
				padding: 10px 20px;
				text-align: center;
				margin: auto;
				border-radius: 30px;
				color: #fff;
			  } 
		}
	
	}
</style>

